:root {
  --text-color-primary: #333;
  --text-color-alt: #fff;
  --text-color-tri: rgb(226, 100, 100);
  --text-color-dull: #aaa;
  --button-bg-color: rgb(31, 29, 29);
  --button-bg-color-alt: #fff;
  --aside-theme-color:#2d2926ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color-primary);
  width: 100vw;
  overflow-x: hidden;
}
.tertiary-text {
  color: var(--text-color-tri);
  font-size: 0.8rem;
}
.button--default {
  background: none;
  border: solid thin #111;
  border-radius: 15px;
  padding: 0.6em 1.5em;
  transition: all ease-in-out 20ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--default:hover {
  transform: scale(1.1);
  border-radius: 0;
}
nav {
  position: sticky;
  width: 100;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}
.sidepane {
  position: absolute;
  color: var(--text-color-alt);
  top: 8vh;
  left: 0;
  width: 20%;
  background-color: #1d273f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  transform: translateX(-100%);
  padding-bottom: 2em;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1200px) {
  .sidepane {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .sidepane {
    width: 75%;
  }
}
.sidepane hr {
  margin: 1em 0;
  justify-self: center;
}
.nav-active {
  /* toggled class to bring sidepane out of hiding */
  transform: translateX(0%);
}

.latest_score {
  padding: 3em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.latest_score hr {
  width: 100%;
}

.scoreboard {
  width: 100%;
  /* border: solid thin #888; */
  display: flex;
  justify-content: space-around;
}
.scoreboard__p {
  min-width: 80%;
}
.scoreboard__pane {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: solid thin green; */
  width: 100%;
  padding: 0.5em 0 0.5em 0.2em;
}
.scoreboard__pane h3 {
  display: flex;
  width: 10%;
}
.scoreboard__pane p {
  display: flex;
  align-items: center;
  /* border: solid thin cyan; */
  width: 80%;
}
.scoreboard__pane p span {
  padding: 0 0.4em;
  font-size: 0.8rem;
  font-weight: bold;
}
.scoreboard__pane img {
  /* border: solid thin orange; */
  max-width: 20%;
}

.latest_score button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: auto;
  font-weight: bold;
  border: solid thin var(--text-color-alt);
  background: var(--button-bg-color-alt);
  color: var(--text-color-primary);
}
.sidepane--links {
  width: 100%;
}
.sidepane--links ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sidepane--links li {
  padding: 1.5em 0.5em;
  margin: 0 1em;
  display: flex;
  align-items: center;
}
.sidepane--links h5 {
  padding: 0 0 0 2em;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ========== rest of nav =========== */

nav .toggle {
  /* container class for hamburger */
  background: none;
  border: none;
  text-align: center;
  height: 100%;
  flex: 0 0 5%;
  /*TODO: determine why harmburger class aligns left and needs flexbox hack*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  height: 3px;
  width: 20px;
  background: var(--text-color-primary);
  transition: all 0.4s ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
}
.toggle__on .hamburger {
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}
.toggle__on .hamburger::before,
.toggle__on .hamburger::after {
  visibility: visible;
  background-color: var(--text-color-tri);
}
.toggle__on .hamburger::before {
  bottom: 0;
  transform: rotate(-45deg) translateX(5%);
}
.toggle__on .hamburger::after {
  top: 0;
  transform: rotate(45deg) translateX(0%);
}

.logo {
  font-family: "Trade Winds", cursive;
  font-size: 1.5rem;
  flex: 0 0 10%;
  text-align: center;
  padding: 0 0.5em;
}
.page_genre {
  flex: 1 0 30%;
  text-align: center;
}
.ico {
  flex: 0 0 5%;
  font-size: 1.2rem;
  margin: 0 0.4em;
}
.logout--btn {
  flex: 0 0 5%;
  border: solid 1.5px var(--text-color-tri);
  color: var(--text-color-tri);
  margin-right: 1em;
  /* align-self: center;
  justify-self: center; */
}

/* WRAPPER content */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }
}
.aside_content {
  border: solid thin var(--aside-theme-color);
  flex: 0 0 20%;
  min-height: 70vh;
  margin: 8vh 0;
  background: var(--aside-theme-color);
  color: var(--text-color-dull);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4em 1em;
}
.activeHeader {
  color: var(--text-color-alt);
  border-bottom: solid thin var(--text-color-alt);
}
.aside--links {
  width: 100%;
}
.aside--links ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.aside--links li {
  padding: 1em 0.2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid thin var(--text-color-dull);
  width: 90%;
}
.aside--links span {
  padding: 0 0 0 2em;
}
.aside--links b {
  color: var(--text-color-tri);
}
.aside--links h5 {
  padding: 0.4em 0;
  font-weight: lighter;
}
.aside_content button {
  border-color: var(--button-bg-color-alt);

  align-self: flex-end;
  margin: 1.2em;
  color: var(--text-color-alt);
}

.main {
  flex: 1 0 50%;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90vh;
  padding: 1em 2em;
}
.article__header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width:100%;
  margin-bottom: 1.5em;
}
.article--author{
  min-width: 30%;
  display: flex;
}
.article--author img{
  display: flex;
  margin: 0.2em 1em;
  height: 3rem;
  width:3rem;
  border:solid 2px var(--text-color-tri);
  border-radius: 50%;
}
.article--author span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.article__header .quicknav{
  display: flex;
}
.article__header button{
  border-radius: 0;
  margin: 0 0.2em;
  border: solid thin var(--aside-theme-color);
  /* background: var(--aside-theme-color); */
  color: var(--text-color-primary);
  font-weight: bold;
}
.article__title{
  /* border: solid thin crimson; */
  padding: 0.7em 0.6em 0 0.6em;
  word-wrap: break-word; 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.article__subtitle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;

}
.article__subtitle span{
  /* border:solid thin yellow; */
  padding: 0 1em ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.article__cover{
  height: 40vh;
}