<!-- TODO: Add animation to hamburger -->
<!-- TODO: Add bottom drop shadow to hamburger box on active -->
{% extends "base.html" %}
{% block title%}Matchix{% endblock%}
 
{% block content %}
 <!-- main content -->
 <main class="main">
  <div class="article__header">
    <div class="article--author">
      <img src="../static/img/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" alt="user profile img">
      <span>
        <h5>By - Alexander Kowalski</h5>
        <h6>April 05, 2019</h6>
      </span>
    </div>
    <div class="quicknav">
      <button class="button--default">
        <i class="ico fa fa-thumbs-down" aria-hidden="true"></i>
      </button>
      <button class="button--default">
        <i class="ico fa fa-thumbs-up" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <h1 class="article__title">
    The devastating impact of Joseph Barkley at West Ham
  </h1>
  <div class="article__subtitle">
    <span><i class="ico fa fa-comment-alt" aria-hidden="true"></i>
      <h6>18 comments</h6></span>
    <span>
      <i class="ico fa fa-eye" aria-hidden="true"></i>
      <h6>1.2k views</h6></span>
    <span><i class="ico fa fa-book" aria-hidden="true"></i>
      <h6>267 currently reading</h6></span>
  </div>
  <img src="../static/img/marvin-ronsdorf-EqbE_NkXPfc-unsplash.jpg" alt="" class="article__cover">
</main>

<!-- aside content -->
<aside class="aside_content">
  <div class="aside__header">
    <h5 class="activeHeader">Trending</h5>
    <h5>Most Read</h5>
  </div>
  <div class="aside--links">
    <ul>
      <li>
        <span>1</i></span>
        <span>
        <h5>Lorem ipsum dolor sit amet consectetur.</h5>
        <h6><b>92</b> comments</h6>
      </span>
      </li>
      <li>
        <span>2</i></span>
        <span>
        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
        <h6><b>56</b> comments</h6>
      </span>
      </li>
      <li>
        <span>3</i></span>
        <span>
        <h5>Lorem ipsum dolor sit amet.</h5>
        <h6><b>27</b> comments</h6>
      </span>
      </li>
    </ul>
  </div>

  <button class="button--default">More
    <i class="ico fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</aside>


{% endblock %}
