<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/fa/css/all.min.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>Marzo</title>
  </head>
  <body>
    <nav>
      <div class="sidepane">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis laudantium nisi blanditiis quos aliquam ad laboriosam nihil, iste asperiores commodi! Tempora quasi illum adipisci aut facere iusto optio impedit suscipit distinctio? Deleniti ipsam autem ea voluptates repellat eius vero assumenda?
      </div>
      <button class="toggle">
        <span class="hamburger"></span>
      </button>
      <div class="logo">Matchix</div>
      <div class="page_genre">Football</div>
      <i class="ico fa fa-search" aria-hidden="true"></i>
      <i class="ico fa fa-user" aria-hidden="true"></i>
      <button class="logout">Logout</button>
     
    </nav>

    <div class="wrapper"></div>
  </body>
</html>
