<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <link href="../static/fa/css/all.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/login.css" type="text/css" />
    {% endblock %}
    <title>{% block title %}Register{% endblock %}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
          <img src="../static/img/nathan-rogers-ObhCU6Vhoe8-unsplash.jpg" alt="" srcset="">
        <div class="card"></div>
      </div>
    </div>
  </body>
</html>
